<div class="navbar navbar-static-top">
<a class="navbar-brand" href="/" style="color:black">LOCO<span style="color:darkorange">Bid</span></a>
<div class="pull-right">
<% unless user_signed_in? %>
<%= form_for(resource, :as => resource_name, :html => {:class => "navbar-form new_user"} ,:url => session_path(resource_name)) do |f| %>

  <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
  <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
    <%= f.submit "Sign in", class: "btn btn-default navbar-btn" %>
  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-default navbar-btn"%><br>
  <% if devise_mapping.rememberable? -%>
  <%= f.check_box :remember_me %> <%= f.label :remember_me %>
  <% end -%>
<% end %>
<% end %>
<% if user_signed_in? %>
<h4 class="navbar-text">Signed in as
<%= link_to current_user.username.capitalize, dashboard_path, class: "navbar-link"%></h4>
<%= link_to 'Sign out', destroy_user_session_path, class: "btn btn-default navbar-btn pull-right"%><br>
<p class="navbar-text"><a href='/dashboard'>credits: <%= current_user.amount_of_credits.to_s.reverse.gsub(/...(?=.)/,'\&,').reverse %></a></p>


<% end %>

</div>
</div>