<!-- number to price rails method -->
<script type="text/javascript">
var listings = <%= @listings.map(&:id) %>
</script>


<div class="row">
	<div class="row">
<% @listings.each do |listing| %>
		<div class="col-lg-4 col-sm-6">
			<div class="panel">
				<a href="<%= url_for(listing) %>">
				<h4> <%= listing.title %> </h4>
				<h5> RRP: <%= "£ #{listing.rrp.to_f}" %> </h5>
				<img src="http://d2mub7s43po4ah.cloudfront.net/mobile/en-UK/0/3/4/The-New-Apple-Bundle-0001327034.normal.jpg" class="img-responsive">
				</a>
		  <div class="panel-footer <%="li-#{listing.id}"%>">
		  	<h2 class="price"><%= "£#{(listing.current_price/100.0)}" %></h2>
		  	<div class="status">
					<h4 data-countdown="<%= listing.countdown_duration %>" id="timer-<%=listing.id%>"></h4><br>
					<h5 class="bidder"><%= listing.latest_bidder %></h5>
				</div>
				<button type="button" data-listing-id="<%=listing.id%>" class="btn btn-warning bid"><i class="icon-legal"></i><br>&nbsp;Bid</button>
		  </div>
			</div>
		</div>
<% end %>
	</div>
</div>

<script type="text/javascript">

function getListing(listing_id) {
	$.getJSON('listings/'+ listing_id, function(data) {
		// var current_price = data.current_price;
		// var latest_bidder = data.latest_bidder;
		// console.log(latest_bidder, current_price);
		//$('.price').html('£' + current_price/100)
		//to create the impression of speed before the server even receives the bid
		$('.li-' + listing_id + ' .price').html('£' + data.current_price/100);
		//individual price class
		$('.li-' + listing_id + ' .bidder').html(data.latest_bidder);
	});
};

function postBid(listing_id) {
	$.post('bids/create', { id: listing_id }).done(getListing(listing_id));
	console.log({ id : listing_id });
}
	
$(document).ready(function() {
	$(".bid").click(function(event) {
	  //var listing_id = $(event.target).data("listingId");
	  $(postBid($(this).data("listingId")));
	});
});


function timer(listing_id) {
		var timerElement = $("#timer-" + listing_id);
		// var count = timerElement.data("countdown");

		var counter = setInterval(function() { timer(timerElement) }, 1000);
		function timer(el) {
		  if(el.data('time-remaining') === undefined) {
		  	el.data('time-remaining', el.data('countdown'))
		  }
			count = el.data('time-remaining') - 1;

			min = ("0" + Math.floor(count/60)).slice(-2);
			sec = ("0" + count % 60).slice(-2);
		  if (count < 0) {
		     clearInterval(counter);
		     return;
		  };
			el.html("00"+ ":" + min + ":" + sec);
			el.data('time-remaining', count);
		}
}

function resetTimer(el) {
	el.data('time-remaining', el.data('countdown'));
}

$(document).ready(function() {
for (var i = listings.length - 1; i >= 0; i--) {
	timer(listings[i]);
};
});


</script>