<div class="navbar navbar-static-top">
<a class="navbar-brand" href="/">MadBid!</a>
<div class="pull-right">

<% unless user_signed_in? %>
<%= form_for(resource, :as => resource_name, :html => {:class => "navbar-form new_user"} ,:url => session_path(resource_name)) do |f| %>

  <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
  <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
    <%= f.submit "Sign in", class: "btn btn-default navbar-btn" %>
  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-default navbar-btn"%><br>
  <% if devise_mapping.rememberable? -%>
  <%= f.check_box :remember_me %> <%= f.label :remember_me %>
  <% end -%>
<% end %>
<% end %>
<% if user_signed_in? %>
<h4 class="navbar-text">Signed in as <a href="#" class="navbar-link"><%= current_user.username.capitalize %></a></h4>
<%= link_to 'Sign out', destroy_user_session_path, class: "btn btn-default navbar-btn pull-right"%>

<% end %>

</div>
</div>


<div class="container">
<%if flash[:alert] %>
<div class="alert alert-danger">
	<%= flash[:alert] %><br>
</div><% end %>
<%if flash[:notice] %>
<div class="alert alert-success">
	<%= flash[:notice] %><br>
</div><% end %>
<%if flash[:message] %>
<div class="alert alert-info">
	<%= flash[:message] %><br>
</div><% end %>



<!-- number to price rails method -->
<script type="text/javascript">
var listings = <%= @listings.map(&:id) %>
</script>


<div class="row">
	<div class="row">
<% @listings.each do |listing| %>
		<div class="col-lg-4 col-sm-6">
			<div class="panel">
				<a href="<%= url_for(listing) %>">
				<h4> <%= listing.title %> </h4>
				<h5> RRP: <%= "£ #{listing.rrp.to_f}" %> </h5>
				<img src="http://d2mub7s43po4ah.cloudfront.net/mobile/en-UK/0/3/4/The-New-Apple-Bundle-0001327034.normal.jpg" class="img-responsive">
				</a>
		  <div class="panel-footer <%="li-#{listing.id}"%>">
		  	<h2 class="price"><%= "£#{(listing.current_price/100.0)}" %></h2>
		  	<div class="status">
					<h4 data-countdown="<%= listing.countdown_duration %>" data-last-bid="<%= (listing.latest_bid_time.to_f*1000).round %>" id="timer-<%=listing.id%>"></h4><br>
					<h5 class="bidder"><%= listing.latest_bidder %></h5>
				</div>
				<button type="button" data-listing-id="<%=listing.id%>" class="btn btn-warning bid"><i class="icon-legal"></i><br>&nbsp;Bid</button>
		  </div>
			</div>
		</div>
<% end %>
	</div>
</div>

<script type="text/javascript">

function postBid(listing_id) {
	$.post('bids/create', { id: listing_id })
		console.log({ id : listing_id });
}

function fetchAndAnimateBid(listing_id, current_price, latest_bidder) {
	// might nest
	// pass expiry-date & base time remaining on that?

	resetTimer(listing_id);
	$("#timer-" + listing_id).animate({fontSize: "28"}, 10);
	$("#timer-" + listing_id).animate({fontSize: "18"}, 400);
	$('.li-' + listing_id + ' .price').text('£' + (current_price/100).toFixed(2));
	$('.li-' + listing_id + ' .bidder').text(latest_bidder);
}

$(document).ready(function() {
	$(".bid").click(function(event) {
	  //var listing_id = $(event.target).data("listingId");
	  $(postBid($(this).data("listingId")));
	});
});


function timer(listing_id) {
		var timerElement = $("#timer-" + listing_id);
		// var count = timerElement.data("countdown");

		var counter = setInterval(function() { timer(timerElement) }, 1000);
		function timer(el) {
		  // if(el.data('time-remaining') === undefined) {
		  // 	el.data('time-remaining', el.data('countdown') + 1)	// account for -1
		  // }
			count = el.data('time-remaining') - 1;

			min = ("0" + Math.floor(count/60)).slice(-2);
			sec = ("0" + count % 60).slice(-2);
		  if (count < 0) {
		     clearInterval(counter);
		     return;
		  };
			el.html("00"+ ":" + min + ":" + sec);
			el.data('time-remaining', count);
		}
}

function resetTimer(listing_id) {
	var el = $("#timer-" + listing_id);
	el.data('time-remaining', el.data('countdown')+1);
	//timer(listing_id);
}

function initTimeRemaining(listing_id) {
	var el = $("#timer-" + listing_id);
	var past = Math.floor( ((new Date()).getTime() - el.data('last-bid'))/1000 );
	var delta = el.data('countdown') - past;
	//var delta = Math.floor((new Date() - d)/1000); 	//floor or top?
	el.data('time-remaining', delta);
	console.log((new Date()).getTime() + '-' + (el.data('last-bid')) + ' = ' + delta);
}

$(document).ready(function() {
	for (var i = listings.length - 1; i >= 0; i--) {
		initTimeRemaining(listings[i]);
		timer(listings[i]);
	};
});


</script>