<!DOCTYPE html>
<html>
<head>
  <title>MadBid</title>
	<%= stylesheet_link_tag "bootstrap.min.css" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-static-top">
<a class="navbar-brand" href="/">MadBid!</a>
<a class=""></button>
<%= link_to 'Sign In', new_user_session_path, class: "btn btn-default navbar-btn pull-right"%>
<%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-default navbar-btn pull-right"%>

<!-- <p class="navbar-text pull-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
 -->
</div>


<div class="container">
<% unless flash.empty? %>
	<%= flash[:alert] %><br>
	<%= flash[:notice] %><br>
	<%= flash[:message] %><br>
<% end %>
<%= yield %>
</div>
</body>
</html>
